<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method='POST'action='/redoform'>

    <label for="Name">Name File:</label>
    <% p=0 %>
    <% for i in fname: %>
    <% if p==0: %>
    <input type='text' name="filename" value={{fname}}><br>
    <% p=p+1 %>
    <% end %>
    <% end %>
    <div>
    <table border=solid  style="margin-top: 10px;">
        <td>
            <p>Current headings on file:</p>
              <select name="fheadings" id="fheadings" multiple>
                <% z=0 %>
                <% for i in th: %>
                <% if z==0: %>
                <% z=z+1 %>
                <% for fheadings in i: %>
                <option value={{fheadings}}>{{fheadings}}</option>
                <% end %> 
                <% end %>
                <% end %>
            </select>
        </td>
        <td>
            <p>Select headings desire on new file:</p>
          <label for="nheadings">Choose headings:</label>
          <select name="nheadings" id="nheadings" multiple>
              <option value="NOTES">NOTES</option>
              <option value="CLIN.DSET.DESCR">CLIN.DSET.DESCR</option>
              <option value="CLIN.DSET.NAME">CLIN.DSET.NAME</option>
              <option value="PK">PK</option>
              <option value="PATIENT.ID">PATIENT.ID</option>
              <option value="DOB">DOB</option>
              <option value="SEX">SEX</option>
              <option value="HEIGHT">HEIGHT</option>
              <option value="WEIGHT">WEIGHT</option>
              <option value="COMMENT">COMMENT</option>
              <option value="PK.ORIGIN">PK.ORIGIN</option>
              <option value="EVENT">EVENT</option>
              <option value="CLOSEST.DATE">CLOSEST.DATE</option>
              <option value="CLOSEST.DATE.EVENT">CLOSEST.DATE.EVENT</option>
              <option value="HB">HB</option>
              <option value="HCT">HCT</option>
              <option value="RCC">RCC</option>
              <option value="MCV">MCV</option>
              <option value="RETIC">RETIC</option>
              <option value="PRBC">PRBC</option>
              <option value="MAJOR.BLEED">MAJOR.BLEED</option>
              <option value="ON.PUMP">ON.PUMP</option>
              <option value="CS.URGENCY">CS.URGENCY</option>
              <option value="DIAGNOSIS">DIAGNOSIS</option>
              <option value="TREATMENT">TREATMENT</option>
              <option value="RAW.DATA">RAW.DATA</option>
          </select>
        </td>
    </table>
    <div>
        <p>Hold down the Ctrl (windows) or Command (Mac) button to select multiple options.</p>
        <input type="submit" name="submit" value="submit">
    </div>
    </form>
</body>
</html>