body{
    background-color: lightgreen;
    margin: 0px;
}
nav{
    color: black;
    margin: 0px;
    font-size: 20px;
    text-align: left;
}
h1{
    color: blueviolet;
    margin: 0px;
    font-size: 30px;
    text-align: left;
}
div{
    font-size: 20px;
    text-align: left;
}
button{
    color:red;
    text-align:left;
}